.bc-blog {
  display: block;
}

.articles {
  font-family: var(--fontFamily-serif);

  &__listing {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-bottom: clamp(8px, .5em, 2rem);

    &-link {
      border-radius: 15px;
      //border: 1px solid transparent;
      color: #fff;
      display: block;
      padding: .2em .5em;
      text-shadow: 0px 1px 0px rgba(black, .3);
      text-decoration: none;
      transition: all 200ms ease-out;
      //text-underline-position: under;
      //text-decoration-thickness: 2px;

      &:focus,
      &:hover {
        box-shadow: 0px 1px 3px rgb(50 50 50 / 30%);
        //border-color: #666;
      }
    }

    //&-tags {
    //  opacity: .8;
    //  padding: .5em 0;
    //  //font-family: var(--fontFamily);
    //  font-size: .6rem;
    //  font-weight: bold;
    //}
  }
}

.tag-filters {
  pointer-events: auto;

  &__title {
    font-size: .5rem;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: .4em;
      }
    }
  }

  &__link {
    &:any-link {
      color: var(--highlight-color);
    }
  }
}

/* Gradient 1 */
.g1 {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

/* Gradient 2 */
.g2 {
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}

/* Gradient 3 */
.g3 {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

/* Gradient 4 */
.g4 {
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

/* Gradient 5 */
.g5 {
  background: linear-gradient(90deg, #b9deed, #efefef);
}

/* Gradient 6 */
.g6 {
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

/* Gradient 7 */
.g7 {
  background: linear-gradient(90deg, #faf0cd, #fab397);
}

/* Gradient 8 */
.g8 {
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}
