<section class="articles">
  <div class="articles__current-tag" *ngIf="currentTag$ | async as tag">
    Showing articles about <strong>{{ tag }}</strong
    >:
  </div>

  <ul
    class="articles__list"
    aria-label="Blog posts"
    [@cardAnimation]="(allArticles$ | async)?.length"
  >
    <li
      class="articles__listing"
      *ngFor="let blog of allArticles$ | async; let i = index"
    >
      <a
        class="articles__listing-link o-sliding-link g{{ i + 1 }}"
        [routerLink]="blog.route"
      >
        {{ blog.titleTrimmed }}
        <span class="articles__listing-link-tail"
          >{{ blog.titleTail }}
          <span class="articles__listing-link-arrow" aria-hidden="true"
            >&#10149;</span
          >
        </span>
      </a>
      <div *ngIf="blog?.description" class="articles__listing-description">
        {{ blog.description }}
      </div>
      <div class="articles__listing-tags" *ngIf="blog.tags">
        <ng-container *ngFor="let tag of blog.tags; let last = last"
          >{{ tag }}{{ last ? '' : ', ' }}</ng-container
        >
      </div>
    </li>
  </ul>
</section>

<section class="tag-filters">
  <h4 class="tag-filters__title">Browse articles by subject:</h4>
  <ul class="tag-filters__list">
    <li *ngFor="let tag of allTags$ | async; let last = last">
      <a
        class="tag-filters__link o-sliding-link"
        [routerLink]="['/blog']"
        [queryParams]="{ tag: tag }"
        >{{ tag }}</a
      >
    </li>
  </ul>
</section>
