//
//
//
// $MAIN_LAYOUT
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Default layouts styles
// @end

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

#preload {
  display: none;
}

