<div
  class="container"
  [class.container--sub-page]="isSubPage"
  [class.container--reduced-motion]="shouldBeReducedMotion"
  bcKonami
  (konami)="togglePartyMode($event)"
>
  <header class="global-header" [class.global-header--small]="isSubPage">
    <h1
      class="global-header__title"
      [class.global-header__title--small]="isSubPage"
      [@shrink]="logoState$ | async"
    >
      <ng-container *ngIf="isSubPage; else noLink">
        <a class="o-sliding-background-link" routerLink="/"
          >Benjamin<br />Charity</a
        >
      </ng-container>
      <ng-template #noLink> Benjamin<br />Charity </ng-template>
    </h1>
  </header>

  <main class="container__inner">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </main>

  <div
    class="background"
    [class.background--hidden]="isSubPage"
    [class.background--party-mode]="partyModeEnabled"
  >
    <div class="canvas-fallback"></div>

    <bc-canvas
      #canvas="bcCanvas"
      [isDisabled]="shouldBeReducedMotion"
      [palettes]="palettes"
      (paletteChange)="setNewPaletteColors($event)"
    ></bc-canvas>
  </div>
</div>

<bc-info
  [showInfo]="(showInfo$ | async) === true"
  [animationsArePaused]="canvas.isPaused"
  (togglePauseRequest)="canvas.togglePause()"
></bc-info>
