<div
  class="container"
  [class.container--sub-page]="shouldFadeBackground"
  @pageAnimations
>
  <header class="global-header">
    <h1
      class="global-header__title"
      [class.global-header__title--small]="shouldMinimizeSiteTitle"
      @bounce
    >
      <ng-container *ngIf="shouldMinimizeSiteTitle; else noLink">
        <a class="o-sliding-link" routerLink="/">Benjamin<br />Charity</a>
      </ng-container>
      <ng-template #noLink> Benjamin<br />Charity </ng-template>
    </h1>
  </header>

  <main
    class="container__inner"
    [@routeAnimations]="determineOutletAnimation(routerOutlet)"
  >
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </main>

  <bc-canvas
    #canvas="bcCanvas"
    [palettes]="palettes"
    [hasOpacity]="shouldFadeBackground"
    (paletteChange)="paletteChange($event)"
  ></bc-canvas>

  <div
    class="canvas-fallback"
    [class.canvas-fallback--faded]="shouldFadeBackground"
  ></div>

  <!-- TODO: animations not working -->
  <!--  <bc-keyboard-arrows-->
  <!--    *ngIf="showKeyboard$ | async"-->
  <!--    [@bounceInLeftOnEnter]-->
  <!--    [@rotateOutDownRightOnLeave]-->
  <!--  ></bc-keyboard-arrows>-->
</div>
