@import '../styles/3-tools/layout';
@import '../styles/3-tools/text';

:root {
  --canvas-fallback-transition: all var(--canvas-transition-duration-in)
    cubic-bezier(0.26, 0.86, 0.44, 0.985);
  --canvas-fallback-zindex: calc(var(--canvas-zindex) - 1);
  --canvas-opacity: 1;
  --canvas-zindex: -1;
  --page-backgroundColor: var(--app-color-light);
  --page-minWidth: 15rem;
}

@keyframes spin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1.5, 1.5, 1.5);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg) scale3d(1.5, 1.5, 1.5);
  }
}

bc-root {
  @include take-space;

  display: block;
  height: 100vh;
  min-width: var(--page-minWidth);
  position: relative;
  width: 100vw;
  z-index: 1;
}

.container {
  @include take-space;

  // Set up stacking context
  z-index: 2;

  // Class added when background should be hidden
  &--no-background {
    background-color: var(--page-backgroundColor);
    overflow-y: auto;

    .canvas-fallback {
      opacity: 0;
    }

    .global-header__title {
      text-shadow: none;
    }
  }

  &__inner {
    max-width: var(--global-site-maxWidth);
    margin-left: auto;
    margin-right: auto;
    // Set up for route transition styles
    position: relative;
    z-index: var(--global-zindex-page);
  }
}

.background {
  @include take-space;

  transition: opacity 200ms 120ms ease-out;
  z-index: 1;

  &--party-mode {
    animation: spin 5s infinite linear;
  }

  &--hidden {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0ms;
  }

  .bc-canvas {
    @include take-space();

    z-index: 2;
  }

  .canvas-fallback {
    @include take-space();

    background-color: var(--highlight-color-1);
    opacity: var(--canvas-opacity);
    transition: var(--canvas-fallback-transition);
    z-index: 1;

    &--faded {
      opacity: 0;
      transition-duration: var(--canvas-transition-duration-out);
    }
  }
}

.global-header {
  margin-top: clamp(16px, 1em, 32px);
  max-height: initial;
  pointer-events: none;
  position: relative;
  text-align: center;
  transition: max-height 500ms ease-out;
  z-index: var(--global-zindex-header);

  &--small {
    max-height: 100px;

    .global-header__title {
      --title-color: var(--title-sub-page-color);

      pointer-events: auto;
    }
  }

  &__title {
    color: var(--title-color);
    display: inline-block;
    font-family: var(--font-stack-unicode);
    font-size: var(--title-fontSize);
    margin: 1rem 0 0 0;
    pointer-events: none;
    text-align: center;
    text-shadow: var(--title-shadow);
    text-transform: uppercase;
    will-change: transform;

    a {
      --o-sliding-background-link-underline-color: transparent;
      --o-sliding-background-link-underline-color-hover: var(
        --app-color-accent-2
      );
      --o-sliding-background-link-color-underline-height: 4px;

      padding: 0;
      text-decoration: none;

      &:any-link {
        color: inherit;
      }
    }
  }
}

@mixin info-base-styles() {
  border-radius: 50%;
  height: 44px;
  width: 44px;
}
