//
//
//
// $HEADER
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the header component
// @end

.header {
  @include transition__custom(all, 400ms);
  margin: 3.75rem auto;
  padding-top: 11.25rem;
  // set up for logo
  position: relative;
  z-index: 4;

  &--compact {
    padding-top: 9.375rem;
    margin-top: 0;

    .header__logo {
      margin-bottom: .75rem;
      margin-left: -6.5625rem;
      width: 13.125rem;
    }
  }
}

// <a>
.header__logo {
  @extend %flicker-fix;
  @include transition__custom(all, 600ms);
  margin-left: -9.375rem;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateZ(0);
  width: 18.75rem;
  z-index: 1;

  // thanks to @allans_brain for the great logo
  svg {
    @extend %flicker-fix;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: -1.875rem;
    transform: translateZ(0);
  }

  // protect aspect ratio
  &::before {
    content: '';
    display: block;
    padding-top: 65%;
  }

  // <nav> primary navigation container
  &__nav {
    // set up for zindex
    position: relative;
    text-align: center;
    // bring us above the logo
    z-index: 4;

    // <a> primary navigation link
    &-link {
      @extend %link;
      text-transform: lowercase;
      margin: 0 20px;
    }
  }
}

