@mixin fancy-hr() {
  background: var(--app-color-accent-1);
  border: 0;
  height: 1px;
  margin: 30px auto;
  overflow: visible;
  position: relative;
  width: 16vw;

  &::before {
    background: var(--app-color-accent-1);
    border: 2px solid var(--app-color-accent-1);
    content: '';
    display: inline-block;
    height: 6px;
    left: 50%;
    margin: 0 0 0 -3px;
    position: absolute;
    top: -5px;
    transform: rotate(45deg);
    width: 6px;
  }
}

.o-fancy-hr {
  @include fancy-hr;
}
