@mixin animated-link-underline {
  color: var(--app-link-color);
  font-weight: bold;
  position: relative;
  text-decoration: none;

  &::before {
    background: var(--app-link-color);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: scaleX(0);
    transition: opacity 200ms ease-out, transform 200ms ease-out;
    width: 100%;
  }

  &:hover {
    transition-duration: 150ms;

    &::before {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.o-squiggle-underline-link {
  background: linear-gradient(
      to bottom,
      var(--highlight-color-1) 0%,
      var(--highlight-color-1) 100%
    )
    repeat-x 0 100%;
  background-size: 3px 3px;
  color: var(--highlight-color-1);
  padding: 0 0 0.5rem 0;
  text-decoration: none;

  &:focus,
  &:hover {
    // NOTE: This property is dynamically set
    background-image: var(--o-squiggle-link-backgroundImage);
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

  &:focus {
    outline: 2px dashed;
  }
}

// Link with colored background that slides horizontally on hover
.o-sliding-background-link {
  --o-sliding-background-link-color-underline-animation-delay: 100ms;
  --o-sliding-background-link-color-underline-animation-duration: 320ms;
  --o-sliding-background-link-color-underline-gap-width: 20px;
  --o-sliding-background-link-color-underline-height: 18px;
  --o-sliding-background-link-color-underline-y-offset: 100%;
  --o-sliding-background-link-color: var(--app-color-dark);
  --o-sliding-background-link-underline-color-hover: var(--color-loveLetter);
  --o-sliding-background-link-underline-color: var(--color-turkishTeal);
  --o-sliding-background-link-underline-colorGap: var(
    --app-light-backgroundColor
  );

  background-image: linear-gradient(
      var(--o-sliding-background-link-underline-colorGap),
      var(--o-sliding-background-link-underline-colorGap)
    ),
    linear-gradient(
      var(--o-sliding-background-link-underline-color),
      var(--o-sliding-background-link-underline-color)
    ),
    linear-gradient(
      var(--o-sliding-background-link-underline-color-hover),
      var(--o-sliding-background-link-underline-color-hover)
    );
  background-position: calc(
        var(--o-sliding-background-link-color-underline-gap-width) * -1
      )
      100%,
    100% var(--o-sliding-background-link-color-underline-y-offset), 0 100%;
  background-repeat: no-repeat;
  background-size: var(--o-sliding-background-link-color-underline-gap-width)
      var(--o-sliding-background-link-color-underline-height),
    100% var(--o-sliding-background-link-color-underline-height),
    0 var(--o-sliding-background-link-color-underline-height);
  color: var(--o-sliding-background-link-color);
  display: inline;
  padding: 0 0.2em;
  position: relative;
  text-decoration: none;
  transition: background-size
      var(--o-sliding-background-link-color-underline-animation-duration)
      var(--o-sliding-background-link-color-underline-animation-delay) ease-out,
    background-position
      var(--o-sliding-background-link-color-underline-animation-duration)
      var(--o-sliding-background-link-color-underline-animation-delay) ease-out;

  &:focus,
  &:hover {
    background-size: var(--o-sliding-background-link-color-underline-gap-width)
        var(--o-sliding-background-link-color-underline-height),
      0 var(--o-sliding-background-link-color-underline-height),
      100% var(--o-sliding-background-link-color-underline-height);
    background-position: calc(
          100% + var(--o-sliding-background-link-color-underline-gap-width)
        )
        100%,
      100% var(--o-sliding-background-link-color-underline-y-offset), 0 100%;
  }
}

.o-animated-link-underline {
  @include animated-link-underline;
}
