:root {
  --articles-link-color: var(--app-color-dark);
  --articles-link-underline-color: var(--app-color-accent-2);
  --articles-link-underline-color-hover: var(--app-color-accent-3);
  --articles-link-backgroundColor: var(--app-light-backgroundColor);
  --articles-link-underline-colorGap: var(--articles-link-backgroundColor);
  --articles-panel-margin: 1.4rem;
}

.bc-articles {
  display: block;
}

.articles {
  font-family: var(--font-stack-serif);
  margin: var(--articles-panel-margin) auto 0;
  max-width: var(--global-site-maxWidth);
  padding: 2rem 1rem 1rem;
  pointer-events: auto;

  @media (max-width: 600px) {
    margin-top: 0;
  }

  &__current-tag {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 1rem;
    padding: 0 1.7em;

    &-info {
      margin-right: .2em;
      opacity: 0.7;
    }
  }

  &__listing {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: clamp(8px, 0.5em, 2rem);
    padding: 0.2em 0;
    will-change: transform;

    &-link {
      &:focus,
      &:hover {
        .articles__listing-link-arrow {
          opacity: 0.8;
          transform: translateX(0) translateY(4px);
          transition-delay: 400ms;
        }
      }

      &-arrow {
        --articles-arrow-transition-duration: 200ms;
        --articles-arrow-transition-delay: 80ms;
        --articles-arrow-transition-easing: ease-out;

        display: inline-block;
        opacity: 0;
        transform: translateX(-6px) translateY(4px);
        transition:
          opacity var(--articles-arrow-transition-duration)
          var(--articles-arrow-transition-delay)
          var(--articles-arrow-transition-easing),
          transform var(--articles-arrow-transition-duration)
          var(--articles-arrow-transition-delay)
          var(--articles-arrow-transition-easing);
      }

      &-tail {
        white-space: nowrap;
      }
    }

    &-description {
      color: var(--articles-link-color);
      font-family: var(--font-stack-serif);
      font-size: 1rem;
      letter-spacing: initial;
      opacity: 0.8;
      padding-top: 0.2em;
    }

    &-reading-time {
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      margin-left: 0.4em;
      position: relative;
      top: -1px;
    }

    &-tags {
      font-family: var(--font-stack-unicode);
      font-size: 0.7rem;
      letter-spacing: initial;
      opacity: 0.4;
    }
  }
}

.tag-filters {
  margin: var(--articles-panel-margin);
  padding: 2rem;
  pointer-events: auto;
  text-align: center;

  &__title {
    font-size: 1rem;
    margin: 0.2em;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 0.4em;
      }
    }
  }

  &__link {
    &:any-link {
      --underline-animation-duration: 180ms;
      --underline-height: 7px;

      color: var(--articles-link-color);
    }
  }
}

.tags-filter {
  padding: 1rem 1rem 2rem;
  text-align: center;

  &__title {
    color: var(--app-color-dark);
    font-family: var(--font-stack-serif);
    font-size: 16px;
    margin-bottom: 0.6em;
  }
}
