<section class="articles">
  <div class="articles__current-tag" *ngIf="currentTag$ | async as tag">
    <div>
      Showing articles about <strong>{{ tag }}</strong
      >:
    </div>
    <div><button (click)="clearFilter()">Clear filter</button></div>
  </div>

  <ul class="articles__list" aria-label="Articles">
    <li
      class="articles__listing"
      *ngFor="let article of allArticles$ | async; let i = index"
      [@enter]="{ value: '', params: { delay: i * 100, translate: '26px' } }"
    >
      <a
        class="articles__listing-link o-sliding-link g{{ i + 1 }}"
        [routerLink]="article.route"
      >
        {{ article.titleTrimmed }}
        <span class="articles__listing-link-tail"
          >{{ article.titleTail }}
          <span class="articles__listing-link-arrow" aria-hidden="true"
            >&#10149;</span
          >
        </span>
      </a>
      <div *ngIf="article?.description" class="articles__listing-description">
        {{ article.description }}
        <!--        <small-->
        <!--          *ngIf="article.readingTime"-->
        <!--          class="articles__listing-reading-time"-->
        <!--          >Reading time: {{ article.readingTime | number: '1.0-0' }}min</small-->
        <!--        >-->
      </div>

      <!--      <div class="articles__listing-tags" *ngIf="article.tags">-->
      <!--        <ng-container *ngFor="let tag of article.tags; let last = last"-->
      <!--          >{{ tag }}{{ last ? '' : ', ' }}</ng-container-->
      <!--        >-->
      <!--      </div>-->
    </li>
  </ul>
</section>

<!--<bc-article-tags [allTags]="allTags$ | async"></bc-article-tags>-->

<bc-tag-links [tags]="allTags$ | async"></bc-tag-links>
