// TODO: move link colors to main scss with util class
:root {
  --article-link-color: #444;
  --article-link-underline-color: #71cbc4;
  --article-link-underline-color-hover: #e8608c;
  --article-link-backgroundColor: var(--bg-light);
  --article-link-underline-colorGap: var(--article-link-backgroundColor);
  --article-panel-margin: 1.4rem;
}

.bc-articles {
  display: block;
}

.articles {
  font-family: var(--fontFamily-serif);
  margin: var(--article-panel-margin);
  min-height: 6rem;
  pointer-events: auto;

  @media (max-width: 600px) {
    margin-top: 0;
  }

  &__current-tag {
    font-family: var(--fontFamily);
    font-size: 13px;
    font-style: italic;
    margin-bottom: 1rem;
    opacity: .7;
    padding: 0 1.7em;
  }

  &__listing {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: clamp(8px, 0.5em, 2rem);
    padding: 0.2em 0.5em;

    &-link {
      &:focus,
      &:hover {
        .articles__listing-link-arrow {
          opacity: 0.8;
          transform: translateX(0) translateY(4px);
          transition-delay: 400ms;
        }
      }

      &-arrow {
        --article-arrow-transition-duration: 200ms;
        --article-arrow-transition-delay: 80ms;
        --article-arrow-transition-easing: ease-out;
        display: inline-block;
        opacity: 0;
        transform: translateX(-6px) translateY(4px);
        transition: opacity var(--article-arrow-transition-duration)
            var(--article-arrow-transition-delay)
            var(--article-arrow-transition-easing),
          transform var(--article-arrow-transition-duration)
            var(--article-arrow-transition-delay)
            var(--article-arrow-transition-easing);
      }

      &-tail {
        white-space: nowrap;
      }
    }

    &-description {
      color: var(--article-link-color);
      font-family: var(--fontFamily-serif);
      font-size: 12px;
      letter-spacing: initial;
      opacity: .8;
      padding-top: .2em;
    }

    &-reading-time {
      display: inline-block;
      margin-left: 1em;
      line-height: 12px;
      vertical-align: baseline;
    }

    &-tags {
      font-family: var(--fontFamily-unicode);
      font-size: 0.7rem;
      letter-spacing: initial;
      opacity: 0.4;
    }
  }
}

.tag-filters {
  margin: var(--article-panel-margin);
  padding: 2rem;
  pointer-events: auto;
  text-align: center;

  &__title {
    font-size: 1rem;
    margin: .2em;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 0.4em;
      }
    }
  }

  &__link {
    &:any-link {
      --underline-animation-duration: 180ms;
      --underline-height: 7px;
      color: var(--article-link-color);
    }
  }
}

a.link {
}

/* Gradient 1 */
//.g1 {
//  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
//}
//
///* Gradient 2 */
//.g2 {
//  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
//}
//
///* Gradient 3 */
//.g3 {
//  background: linear-gradient(90deg, #f598a8, #f6edb2);
//}
//
///* Gradient 4 */
//.g4 {
//  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
//}
//
///* Gradient 5 */
//.g5 {
//  background: linear-gradient(90deg, #b9deed, #efefef);
//}
//
///* Gradient 6 */
//.g6 {
//  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
//}
//
///* Gradient 7 */
//.g7 {
//  background: linear-gradient(90deg, #faf0cd, #fab397);
//}
//
///* Gradient 8 */
//.g8 {
//  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
//}
