@import '../../../styles/5-elements/link';
@import '../../../styles/5-elements/hr';

bc-article {
  --article-link-color: var(--app-color-accent-1);
  --article-maxWidth: 640px;

  display: block;
  font-family: var(--font-stack-serif);
}

.article {
  margin: auto;
  max-width: var(--article-maxWidth);
  padding: clamp(6px, 1rem, 2rem);
  pointer-events: auto;

  &__nav {
    margin-bottom: 0.6rem;

    &-link {
      padding-left: 0.3em;

      span {
        display: inline-block;
        transform-origin: right center;
        transition: transform 200ms ease-out;
      }

      &:focus,
      &:hover {
        span {
          transform: scale3d(1.6, 1.6, 1.6);
        }
      }
    }
  }

  &__tags {
    padding: 2rem 1rem 1rem;
    text-align: center;

    h6 {
      color: var(--app-color-dark);
      font-family: var(--font-stack-unicode);
      font-size: 100%;
      margin: 1em;
      text-transform: uppercase;
    }
  }
}

// Styles for article markdown content
.article__content {
  --content-lineHeight: 1.4em;
  margin-bottom: 1rem;

  h1:first-of-type {
    margin-top: 0;
  }

  p {
    line-height: var(--content-lineHeight);
  }

  pre {
    background: var(--color-code-background) !important;
    box-shadow: 0 0 0 1px var(--color-code-boxShadow) !important;
  }

  blockquote {
    border-left: 4px solid var(--article-link-color);

    p {
      padding: 0.4em;
    }
  }

  h2 {
    padding: 1em 0 0.4em;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  abbr {
    cursor: help;
    text-underline-offset: 2px;
  }

  hr {
    @include fancy-hr;
  }

  kbd,
  :not(pre) > code {
    background-color: var(--color-inlineCode-backgroundColor);
    border-radius: 4px;
    color: var(--app-color-dark);
    font-size: 80%;
    font-weight: bold;
    margin: 0;
    padding: 0.1em 0.4em 0.2em;
    position: relative;
    top: -1px;
  }

  img {
    display: inline-block;
    outline: 1px solid var(--color-image-outline);
    max-width: 100%;
  }

  a {
    @include animated-link-underline;
  }

  ul {
    line-height: var(--content-lineHeight);
    list-style: square outside;
    margin-left: 1.4rem;

    li::marker {
      transform: rotate(45deg);
    }
  }
}
