<article
  *ngIf="articleMetadata$ | async as metadata"
  class="article line-numbers"
  @fadeInUpOnEnter
  @fadeOutDownOnLeave
>
  <nav class="article__nav">
    <a
      class="article__nav-link o-animated-link-underline"
      routerLink="/articles"
      ><span>&#8668;</span> Back to all articles</a
    >
  </nav>
  <div class="article__content">
    <ng-container *ngIf="(allArticles$ | async)?.length < 1">
      <ng-container *ngFor="let skeleton of skeletonCount">
        <ngx-skeleton-loader
          count="1"
          [theme]="skeletonSizes.title"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          count="1"
          [theme]="skeletonSizes.description"
        ></ngx-skeleton-loader>
      </ng-container>
    </ng-container>

    <scully-content></scully-content>
  </div>

  <footer class="article__tags">
    <h6>Tags:</h6>
    <bc-tag-links routeBase="/articles" [tags]="metadata.tags"></bc-tag-links>
  </footer>
</article>
