@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-tomorrow';

:host {
  display: block;
  font-family: var(--fontFamily-serif);
}

.article {
  padding: clamp(6px, 1rem, 2rem);
}
