<div class="projects">

  <div>

    <article class="project" data-ng-repeat="project in ::vm.PROJECTS.contract track by $index">

      <h1 class="project__name">
        {{ ::project.name }}
      </h1>

      <h2
        class="project__organization"
        data-ng-if="project.organization"
      >
        {{ ::project.organization }}
      </h2>

      <ul class="project__roles">
        <li
          data-ng-repeat="role in ::project.roles track by $index"
          class="project__role  project__role--{{ ::role }}"
          data-ng-switch="role"
        >

          <div data-ng-switch-when="dev">Front-End Development</div>
          <div data-ng-switch-when="design">Design/User Interface</div>
          <div data-ng-switch-when="ux">User Experience</div>
          <div data-ng-switch-when="pm">Project Management</div>

        </li>
      </ul>

      <a
        href="{{ ::project.url }}"
        class="project__url"
        data-ng-if="project.url"
      >{{ ::project.prettyUrl }}</a>

    </article>

  </div>




  <div class="projects__list">

    <article class="project" data-ng-repeat="project in ::vm.PROJECTS.openSource track by $index">

      <h1 class="project__name">
        {{ ::project.name }}
      </h1>

      <h2
        class="project__organization"
        data-ng-if="project.organization"
      >
        {{ ::project.organization }}
      </h2>

      <a
        href="{{ ::project.url }}"
        class="project__url"
        data-ng-if="project.url"
      >{{ ::project.prettyUrl }}</a>

    </article>

  </div>



</div>
