//
//
//
// $PROJECTS
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the projects view
// @end


@mixin project__title() {
  font-family: $proxima;
  font-style: normal;
  letter-spacing: .0625rem;
  text-transform: uppercase;
}

@mixin project__roles() {
  display: block;
  padding-left: 1.25rem;
  text-align: center;

  div {
    background-repeat: no-repeat;
    background-position: .0625rem 10%;
    background-size: .75rem;
    display: inline-block;
    padding-left: 1.125rem;
  }
}

// <div> primary container
.projects {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @include breakpoint(breakpoint-medium-large) {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  // <div>
  &__list {
  }
}

// <article> individual project
.project {
  font-size: .875rem;
  margin: 1.25rem auto;
  max-width: 25rem;
  // set up for open source tag and hr
  overflow: hidden;
  padding: .75rem;
  // set up for open source tag
  position: relative;
  text-align: center;
  width: 100%;

  &:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  // <h1>
  &__name {
    @include project__title();
    font-size: 1.375rem;
    font-weight: 600;
  }

  // <h2>
  &__organization {
    @include project__title();
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    top: -.25rem;
  }

  // <ul> list of roles for a project
  &__roles {
    list-style-type: none;
    line-height: 1.4em;
    margin: .75rem auto;
  }

  &__role {
    &--dev {
      @include project__roles();

      div {
        background-image: url('/assets/images/icon-code.svg');
        background-size: 20px;
        background-position-x: -3px;
      }
    }

    &--design {
      @include project__roles();

      div {
        background-image: url('/assets/images/icon-design.svg');
      }
    }

    &--ux {
      @include project__roles();

      div {
        background-image: url('/assets/images/icon-ux.svg');
      }
    }

    &--pm {
      @include project__roles();

      div {
        background-image: url('/assets/images/icon-pm.svg');
      }
    }
  }

  // <a>
  &__url {
    @include link();
  }
}

