//
//
//
// $LOADER
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the loader animation
//  http://codepen.io/fbrz/pen/uBjKn
// @end

$color_loader: #fbfbfb;

// <div> primary wrapper
.loader {
  animation: loader 4s infinite ease;
  border: .25rem solid $color_loader;
  display: inline-block;
  height: 2rem;
  margin-left: -1rem;
  margin-top: -1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;

  // <div> inner loading icon
  &__inner {
    animation: loader_inner 4s infinite ease-in;
    background-color: $color_loader;
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader_inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
