<article
  _ngcontent-ken-c17=""
  class="ng-tns-c17-1 ng-trigger ng-trigger-fadeInUpOnEnter"
  style="pointer-events: auto; padding: clamp(6px, 1rem, 2rem)"
>
  <!--scullyContent-begin-->
  <h1 id="css-bracket-formatting-styles" _ngcontent-ken-c17="">
    CSS Bracket Formatting Styles
  </h1>
  <p _ngcontent-ken-c17="">
    Ever wondered what the various
    <abbr title="Cascading Style Sheets" _ngcontent-ken-c17="">CSS</abbr>
    bracket styles were called? (neither did I but, it's actually pretty
    interesting)
  </p>
  <p _ngcontent-ken-c17=""><em _ngcontent-ken-c17="">Default</em></p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span> <span
    class="token punctuation" _ngcontent-ken-c17="">{</span>
  <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span>
<span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <hr _ngcontent-ken-c17="" />
  <p _ngcontent-ken-c17="">
    <em _ngcontent-ken-c17=""
      ><a
        href="http://en.wikipedia.org/wiki/Indent_style#Banner_style"
        _ngcontent-ken-c17=""
        >Banner</a
      ></em
    >
  </p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span> <span
    class="token punctuation" _ngcontent-ken-c17="">{</span>
  <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <hr _ngcontent-ken-c17="" />
  <p _ngcontent-ken-c17=""><em _ngcontent-ken-c17="">Saver</em></p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span> <span
    class="token punctuation" _ngcontent-ken-c17="">{</span> <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span>
<span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <hr _ngcontent-ken-c17="" />
  <p _ngcontent-ken-c17=""><em _ngcontent-ken-c17="">Aligned</em></p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span> <span
    class="token punctuation" _ngcontent-ken-c17="">{</span> <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <hr _ngcontent-ken-c17="" />
  <p _ngcontent-ken-c17="">
    <em _ngcontent-ken-c17=""
      ><a
        href="http://en.wikipedia.org/wiki/Indent_style#Pico_style"
        _ngcontent-ken-c17=""
        >Pico</a
      ></em
    >
  </p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span> <span
    class="token punctuation" _ngcontent-ken-c17="">{</span> <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span> <span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <hr _ngcontent-ken-c17="" />
  <p _ngcontent-ken-c17=""><em _ngcontent-ken-c17="">Extra</em></p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span> <span
    class="token punctuation" _ngcontent-ken-c17="">{</span>
 <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
 <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span> <span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <hr _ngcontent-ken-c17="" />
  <p _ngcontent-ken-c17="">
    <em _ngcontent-ken-c17=""
      ><a
        href="http://en.wikipedia.org/wiki/Indent_style#GNU_style"
        _ngcontent-ken-c17=""
        >GNU</a
      ></em
    >
  </p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span>
<span class="token punctuation" _ngcontent-ken-c17="">{</span>
  <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span>
<span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <hr _ngcontent-ken-c17="" />
  <p _ngcontent-ken-c17=""><em _ngcontent-ken-c17="">HMANN</em></p>
  <pre
    class="language-css"
    _ngcontent-ken-c17=""
  ><code ng-non-bindable class="language-css" _ngcontent-ken-c17=""><span class="token selector" _ngcontent-ken-c17="">.foo</span>
<span class="token punctuation" _ngcontent-ken-c17="">{</span> <span class="token property" _ngcontent-ken-c17="">color</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> red<span class="token punctuation" _ngcontent-ken-c17="">;</span>
  <span class="token property" _ngcontent-ken-c17="">display</span><span class="token punctuation" _ngcontent-ken-c17="">:</span> block<span class="token punctuation" _ngcontent-ken-c17="">;</span>
<span class="token punctuation" _ngcontent-ken-c17="">}</span></code></pre>
  <p _ngcontent-ken-c17="">
    Personally, I feel that the
    <code ng-non-bindable _ngcontent-ken-c17="">default</code> style is by far
    the most readable, followed closely by the
    <code ng-non-bindable _ngcontent-ken-c17="">GNU</code> style. My primary
    issue with styles such as
    <code ng-non-bindable _ngcontent-ken-c17="">saver</code> or
    <code ng-non-bindable _ngcontent-ken-c17="">pico</code> is that you cannot
    move entire lines up and down due to the first and/or last declaration
    sharing a line with the selector or bracket.
  </p>
  <blockquote _ngcontent-ken-c17="">
    <p _ngcontent-ken-c17="">
      <strong _ngcontent-ken-c17="">Note:</strong> I couldn't actually find
      documentation to verify some of these naming conventions. If anyone knows
      a source or possibly a different name for a style, ping me on Twitter:
      <a href="http://twitter.com/benjamincharity" _ngcontent-ken-c17=""
        >@benjamincharity</a
      >
    </p>
  </blockquote>
</article>
