//
//
//
// $LISTS
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Reusable styles for lists
// @end

%project_role {
  background-repeat: no-repeat;
  background-position: 1px 50%;
  background-size: 12px;
  @include rem('padding-left',22px);
}
