//
//
//
// $TEXT
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Extends for common text based items
// @end


%project_title {
  font-family: $proxima;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

%font_smoothing {
  -webkit-font-smoothing : antialiased;
  -moz-font-smoothing    : antialiased;
  -ms-font-smoothing     : antialiased;
  -o-font-smoothing      : antialiased;
  font-smoothing         : antialiased;
}


