bc-canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

canvas {
  -webkit-user-select: none;
  bottom: 0;
  cursor: pointer;
  left: 0;
  height: 100%;
  position: absolute;
  right: 0;
  tap-highlight-color: transparent;
  top: 0;
  width: 100%;
  user-select: none;
  z-index: -1;
}
