.bc-canvas {
  display: block;
  opacity: var(--canvas-opacity);

  &--faded {
    --canvas-opacity: var(--canvas-opacity-faded);
  }
}

canvas {
  -webkit-user-select: none;
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  tap-highlight-color: transparent;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: -1;
}
