:root {
  --title-color: #fff;
  --title-shadow-color: rgba(0, 0, 0, .4);
  --title-shadow: 2px 2px 2px var(--title-shadow-color);
  --title-fontSize: clamp(3rem, 23vw, 10rem);
  //--highlight-color: #ff9800;
  --link-backgroundImage: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  --link-fontSize: 1.6rem;
  --nav-column-count: 2;
  --nav-column-count-desktop: 4;
  --section-height: calc(100vh / 5);
}

@keyframes shift {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}

bc-home {
  display: block;
  //min-height: 100%;
  //padding-top: .5rem;

  ::selection {
    background-color: var(--highlight-color);
    color: var(--title-color);
    text-shadow: var(--title-shadow);
  }

  .page {
    //align-content: center;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-around;
    outline: 2px solid red;
    padding: 1rem;
  }
}

.title {
  color: var(--title-color);
  display: block;
  font-size: var(--title-fontSize);
  //grid-column: 1 / span 2;
  //grid-row: 2 / span 2;
  margin: 0;
  pointer-events: auto;
  text-align: center;
  text-shadow: var(--title-shadow);
  text-transform: uppercase;

  &.title--secondary {
    font-size: calc(var(--title-fontSize) * .2);
    font-weight: normal;
    margin: 1rem;
    //transform: translateY(-2.6rem);
  }
}

// <nav>
.navigation {
  //align-content: center;
  //display: grid;
  //grid-column: 1 / span 2;
  //grid-row: 4 / span 1;
  //min-height: var(--section-height);
  padding: 1rem 0;

  // <ul>
  &__list {
    //display: grid;
    //grid-template-columns: repeat(var(--nav-column-count), 1fr);
    //grid-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: 800px) {
      --nav-column-count: var(--nav-column-count-desktop);
    }

    &-item {
      display: grid;
      place-content: center;
    }
  }

  &__link {
    background: linear-gradient(to bottom, var(--highlight-color) 0%, var(--highlight-color) 100%) repeat-x 0 100%;
    background-size: 3px 3px;
    color: var(--highlight-color);
    font-size: var(--link-fontSize);
    padding: 0 0 .5rem 0;
    pointer-events: auto;
    text-decoration: none;
    text-shadow: var(--title-shadow);

    &:focus,
    &:hover {
      background-image: var(--link-backgroundImage);
      background-position: 0 100%;
      background-size: auto 6px;
      background-repeat: repeat-x;
      text-decoration: none;
    }

    &:focus {
      outline: 2px dashed;
      outline-offset: 8px;
    }
  }
}

.companies {
  --scale: .7;
  --desktop-scale: 1;
  --companies-maxWidth: 90vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  @media only screen and (min-width: 800px) {
    --companies-maxWidth: 60vw;
    --scale: var(--desktop-scale);
  }

  &__title {
    font-size: calc(var(--scale) * 1.2rem);
    opacity: .5;
    margin: 0;
    text-align: center;
    text-decoration-color: inherit;
    text-decoration-thickness: 2px;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 0.2em;
    max-width: var(--companies-maxWidth);
  }

  &__list {
    font-size: calc(var(--scale) * 1.1rem);
    list-style: none;
    padding: 0;
    max-width: var(--companies-maxWidth);
    text-align: center;

    @media only screen and (min-width: 800px) {
      text-align: left;
    }
  }

  &__company {
    display: inline-block;
    line-height: 1.4em;
    margin-right: calc(var(--scale) * .6em);
    padding: .2em calc(var(--scale) * .6em) .2em .2em;
    pointer-events: auto;
    position: relative;
    white-space: nowrap;

    &:not(:last-of-type) {
      &::after {
        content: '•';
        display: inline-block;
        position: absolute;
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}
