:root {
  --link-fontSize: 1.6rem;
  --nav-column-count: 2;
  --nav-column-count-desktop: 4;
  --section-height: calc(100vh / 5);
}

@keyframes shift {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}

.bc-home {
  display: block;
  font-family: var(--fontFamily-unicode);
  //min-height: 100%;
  //padding-top: .5rem;

  ::selection {
    background-color: var(--highlight-color);
    color: var(--title-color);
    text-shadow: var(--title-shadow);
  }

  .page {
    //align-content: center;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-around;
    //outline: 2px solid red;
    padding: 1rem;
  }
}

.title--secondary {
  color: var(--title-color);
  display: block;
  //pointer-events: auto;
  text-align: center;
  text-shadow: var(--title-shadow);
  text-transform: uppercase;
  font-size: calc(var(--title-fontSize) * .2);
  font-weight: normal;
  margin: 1rem;
}

// <nav>
.navigation {
  //align-content: center;
  //display: grid;
  //grid-column: 1 / span 2;
  //grid-row: 4 / span 1;
  //min-height: var(--section-height);
  padding: 1rem 0;

  // <ul>
  &__list {
    //display: grid;
    //grid-template-columns: repeat(var(--nav-column-count), 1fr);
    //grid-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: 800px) {
      --nav-column-count: var(--nav-column-count-desktop);
    }

    &-item {
      display: grid;
      place-content: center;
    }
  }

  &__link {
    font-size: var(--link-fontSize);
    pointer-events: auto;
    text-shadow: var(--title-shadow);
  }
}

.companies {
  --scale: .7;
  --desktop-scale: 1;
  --companies-maxWidth: 90vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  @media only screen and (min-width: 800px) {
    --companies-maxWidth: 60vw;
    --scale: var(--desktop-scale);
  }

  &__title {
    font-size: calc(var(--scale) * 1.2rem);
    opacity: .6;
    margin: 0 0 .4em 0;
    text-align: center;
    text-decoration-color: inherit;
    text-decoration-thickness: 2px;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 0.2em;
    max-width: var(--companies-maxWidth);
  }

  &__list {
    font-size: calc(var(--scale) * 1.1rem);
    list-style: none;
    padding: 0;
    max-width: var(--companies-maxWidth);
    text-align: center;

    @media only screen and (min-width: 800px) {
      text-align: left;
    }
  }

  &__company {
    display: inline-block;
    line-height: 1em;
    margin-right: calc(var(--scale) * .6em);
    padding: .2em calc(var(--scale) * .6em) .2em .2em;
    pointer-events: auto;
    position: relative;
    white-space: nowrap;

    @media only screen and (min-width: 800px) {
      line-height: 1.4em;
    }

    &:not(:last-of-type) {
      &::after {
        content: '•';
        display: inline-block;
        position: absolute;
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}
