<input
  class="u-sr-only-always"
  id="popoverTrigger"
  type="checkbox"
  [(ngModel)]="showPopover"
/>
<label
  class="info"
  for="popoverTrigger"
  [class.info--visible]="showInfo || showPopover"
>
  <span aria-hidden="true">?</span>
  <span class="u-sr-only-always">Site info</span>
  <ng-container *ngTemplateOutlet="popover"></ng-container>
</label>

<ng-template #popover>
  <div class="info__popover">
    <div class="info__popover-content">
      <p>
        Change the color palette by clicking the background or using the left &
        right arrow keys.
      </p>
    </div>
  </div>
</ng-template>
