@import '../../../styles/3-tools/layout';

bc-info {
  --info-borderRadius: 4px;
  --info-boxShadow-large: rgba(0, 0, 0, 0.3) 0 19px 38px,
    rgba(0, 0, 0, 0.22) 0 15px 12px;
  --info-boxShadow-small: rgba(0, 0, 0, 0.16) 0 3px 6px,
    rgba(0, 0, 0, 0.23) 0 3px 6px;
  --info-color: rgba(#fff, 0.7);
  --info-fontFamily: var(--font-stack-unicode);
  --info-size: 44px;
  --info-window-offset: 1rem;
  --info-wrapper-opacity-visible: 0.7;
  --info-wrapper-opacity: 0;
  --info-wrapper-transitions: transform 400ms ease-out,
    box-shadow 200ms ease-out, opacity 200ms ease-out;

  .info {
    background-color: var(--highlight-color-5);
    border-radius: 50%;
    border: 1px solid rgba(#184571, 0.2);
    bottom: var(--info-window-offset);
    box-shadow: var(--info-boxShadow-large);
    font-size: 1rem;
    height: var(--info-size);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: var(--info-window-offset);
    transform: translate3d(100%, 0, 0);
    transition: var(--info-wrapper-transitions);
    width: var(--info-size);
    z-index: var(--global-zindex-info);

    span {
      @include take-space;

      align-items: center;
      border: 1px dashed transparent;
      border-radius: 50%;
      color: var(--info-color);
      cursor: pointer;
      display: flex;
      font-family: var(--info-fontFamily);
      font-size: 2.4rem;
      justify-content: center;
      left: -1px;
      opacity: 0;
      overflow: hidden;
      top: -1px;
      transform: rotate3d(0, 0, 1, 120deg);
      transition: transform 400ms ease-out, color 600ms ease-out,
        box-shadow 200ms ease-out;
      z-index: 1;
    }

    &--visible {
      opacity: 1;
      pointer-events: auto;
      transform: translate3d(0, 0, 0);

      span {
        opacity: 0.7;
        transform: rotate3d(0, 0, 0, 0);

        &:focus,
        &:hover {
          opacity: 0.9;
        }
      }

      &:focus,
      &:hover {
        span {
          box-shadow: var(--info-boxShadow-small);
        }
      }
    }

    &__popover {
      background-color: var(--app-light-backgroundColor);
      border-radius: var(--info-borderRadius);
      bottom: 4rem;
      box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
      color: var(--app-color-dark);
      font-family: var(--font-stack-serif);
      max-width: 20rem;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      transform: translate3d(0, 0.7em, 0);
      transition: transform 200ms ease-out, opacity 200ms ease-out;
      width: 90vw;
      z-index: var(--global-zindex-popover);

      &::before {
        --arrow-size: 18px;

        background-color: var(--app-light-backgroundColor);
        bottom: -8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px,
          rgba(0, 0, 0, 0.23) 0 6px 6px;
        content: '';
        height: var(--arrow-size);
        position: absolute;
        right: 12px;
        transform: rotate3d(0, 0, 1, 45deg);
        width: var(--arrow-size);
        z-index: -1;
      }

      &-content {
        background-color: var(--app-light-backgroundColor);
        border-radius: var(--info-borderRadius);
        font-size: 80%;
        font-style: italic;
        line-height: 1.4;
        padding: 1rem;
        z-index: 1;
      }

      p {
        margin: 0 0 1em 0;
      }
    }

    &__pause {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 0.6em;

      &-button {
        background: var(--app-color-accent-1-tint);
        border-radius: 2px;
        border: 1px solid var(--app-color-accent-1);
        color: var(--app-color-accent-1-dark);
        cursor: pointer;
        font-family: var(--font-stack-unicode);
        transition: transform 200ms ease-out;

        &:focus,
        &:hover {
          transform: scale3d(1.2, 1.2, 1);
        }
      }
    }

    &__not-so-subtle-hint {
      font-family: var(--font-stack-unicode);
      font-size: 2rem;
      letter-spacing: 8px;
      opacity: 0.1;
      text-align: center;
    }
  }

  input:checked + label .info__popover {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
  }

  input:focus + label {
    span {
      border-color: rgba(black, 0.4);
    }
  }
}
