//
//
//
// $CONFIG
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Set up all configurable variables and settings here.
//  This document should contain all logic and NO styles.
// @end




////////////////////////////////////////////
//
// Colors
//
////////////////////////////////////////////
$color_white: #fafafa;
$color_gray_light: #aaa;
//$color_gray: #ccc;
//$color_gray_mid: #7e7e7e;
$color_gray_dark: #444;
$color_black: #222;
$color_primary: #db7769;

// Specific use cases
//$color_placeholders   : $color_gray_light;



////////////////////////////////////////////
//
// Typography
//
////////////////////////////////////////////
// Create font-family alias'

$proxima: #{"proxima-nova-alt-condensed", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica
  Neue", Helvetica, sans-serif};
$goudy: #{"sorts-mill-goudy", "goudy", georgia, times new roman, serif};
$helvetica: #{"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
  "Lucida Grande", sans-serif};
$arial: #{arial, sans-serif};
$monospaced_serif: #{"Courier New", Courier, FreeMono, "Nimbus Mono L", monospace};
$monospaced_sans: #{"Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  monospace};

// Define the site base values
$font_base: #{'Helvetica Neue', Helvetica, sans-serif};
$font_base_size: 16px;
$font_base_line_height: $font_base_size * 1.5;




////////////////////////////////////////////
//
// Layout
//
////////////////////////////////////////////
$site_width: 100%;




////////////////////////////////////////////
//
// Grid Helpers
//
////////////////////////////////////////////
// total width of page
$width: $site_width;
// number of columns
$columns: 12;
// margin between columns
$col_margin: 1%;


