//
//
//
// $GLOBAL
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles that effect global items
// @end


html,
body {
  backface-visibility: hidden;
  font-smoothing: antialiased;
  height: 100%;
  tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  width: 100%;
}

body {
  background-color: #eee;
  color: $color_white;
  font-family: $goudy;
  font-smoothing: antialiased;
  font-style: italic;
}

// <div> primary site container
.app {
  @include transition__custom(opacity);
  @include row();
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  //min-height: 100%;
  // start at zero and let our directive change this once
  // the images are loaded
  opacity: 0;
  overflow-y: auto;
  position: relative;
  padding: 20px 8px;
  width: 100%;

  &.is_active {
    opacity: 1;
  }
}

// <section> container for site content
.content {
  position: relative;
  // bring us above the particles layer
  z-index: 4;
}


.browsehappy {
  margin: .2em 0;
  padding: .2em 0;
}

// scss-lint:disable IdSelector
#preload {
  // scss-lint:disable ImportantRule
  display: none !important;
  // scss-lint:enable ImportantRule
}
// scss-lint:enable IdSelector






///////////////////////////////////////////////////
//
// Page transitions
//
.at-view-slide-in-bottom {
  @include transition__custom(all, 500ms);
  width: 100%;

  &.ng-enter {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    @include transform( translate3d(0, 30px, 0) );
    z-index: 1;
  }

  &.ng-enter-active {
    opacity: 1;
    position: absolute;
    @include transform( translate3d(0, 0, 0) );
  }
}


.at-view-slide-out-bottom {
  @include transition__custom(all, 500ms);
  width: 100%;

  &.ng-leave {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    @include transform( translate3d(0, 0, 0) );
    width: 100%;
    z-index: 3;
  }

  &.ng-leave-active {
    opacity: 0;
    @include transform( translate3d(0, 30px, 0) );
  }
}
