//
//
//
// $VIEW_ANIMATIONS
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Define the app view animations
// @end


.a__from-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // scss-lint:disable NameFormat
  transition: all 500ms cubic-bezier(.455, .030, .265, .940);
  // scss-lint:enable NameFormat
  width: 100%;

  &.ng-enter {
    opacity: 0;
    transform: translate3d(-50%, 4rem, 0);

    &.ng-enter-active {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &.ng-leave {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);

    &.ng-leave-active {
      opacity: 0;
      transform: translate3d(-50%, 4rem, 0);
    }
  }

}

