//
//
//
// $VIEW_ANIMATIONS
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Define the app view animations
// @end


.a__from-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 500ms cubic-bezier(0.455, 0.030, 0.265, 0.940);

  &.ng-enter {
    opacity: 0;
    transform: translate3d(-50%, 4rem, 0);

    &.ng-enter-active {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &.ng-leave {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);

    &.ng-leave-active {
      opacity: 0;
      transform: translate3d(-50%, 4rem, 0);
    }
  }

}

